/* styles.css */

/* styles.css */

body {
    font-family: 'New Gothic Style', sans-serif;
    text-align: center;
    margin: 50px;
}

#gothic-letters {
    font-family: 'New Gothic Style', sans-serif;
    font-size: 4em; /* Increase font size */
    margin-bottom: 20px;
}

#image-container {
    display: flex;
    justify-content: center;
}

#image-container img {
    max-width: 15cm; /* Set maximum width to 15cm */
    max-height: 15cm; /* Set maximum height to 15cm */
}
